$layout-container: 'l-container';

.#{$layout-container} {
    grid-row-gap: $global-module-size;
    grid-template-areas: 
    "header header header"
    ".      main   ."
    "footer footer footer";
    grid-template-columns: 1fr $global-max-width 1fr;
   
    @include breakpoint(large-up) {
        display: grid;
    }
}