
// ==================================
// Measures
// ==================================
$global-font-size: 1.125rem;
$global-max-width: 1200px;
$global-module-size: 1.87rem;
$global-radius: 0.62rem;




